@charset "utf-8";
/* CSS Document */

/*==========*/
/*  
  [Let press Ctrl + f and type of paste the key, then press Enter to search the content ] Title
  Example : You want Import Files => Title is Import Files, or Fonts => Title is Fonts

  
  
/*==========*/

/*===== Import Files =====*/
/* Fonts */
/*@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext,vietnamese';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900&subset=latin-ext');*/
/*  Css */
@import url(../lib/bootstrap/bootstrap.min.css);
@import url(../lib/font-awesome/font-awesome.min.css);
/* @import url(lightbox.min.css); */
@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/Arial.eot');
  src: local('Arial'), url('../fonts/arial/Arial.woff') format('woff'), url('../fonts/arial/Arial.ttf') format('truetype');
}

/*===== Layout Style =====*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcfcfc;
  color: #465363;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}
a { color: #252525; cursor: pointer; }
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.25s;
}
p { margin: 0; }
select:focus, button:focus, input:focus { outline: none; }
.btn.focus, .btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
  outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  padding: 5px 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper {
  position: relative;
}
.clearfix { clear: both; }
.container {
  padding-left: 0;
  padding-right: 0;
}

/*===== Header =====*/
/*.header {
  background: #cd3591;
}*/
.header-top {
  position: relative;
}
.block-nav-mobile {
  display: none;
}
.block-logo {
  float: left;
  width: 15%;
}
.block-logo img {
  max-width: 135px;
}
.block-search {
  float: left;
  width: 65%;
  position: relative;
  margin-top: 10px;
}
.block-search .search_input {
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 6px 10px;
}
.block-search .btn_search {
  position: absolute;
  top: 0;
  right: 0;
  background: #f5d9ea;
  width: 50px;
  height: 35px;
  line-height: 35px;
  font-size: 1.6em;
  color: #cd3591;
  border-radius: 0 5px 5px 0;
  border: none;
}
.quick-search-result {
  padding: 10px 0;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background: #fff;
  width: 100%;
  margin-top: 5px;
  display: none;
  max-height: 700px;
  overflow: auto;
}
.minicart-wrapper, .customer-setting {
  float: right;
}
.minicart-wrapper {
  margin-left: 30px;
  margin-top: 8px;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
}
.minicart-wrapper .dropdown-toggle {
  display: block;
  border-radius: 5px;
  position: relative;
  font-size: 16px;
  color: #cd3591;
  font-weight: bold;
}
.minicart-wrapper .dropdown-toggle .fa-shopping-cart {
  font-size: 27px;
  vertical-align: middle;
}
.minicart-wrapper .dropdown-toggle span {
  vertical-align: middle;
  display: inline-block;
  margin-top: 5px;
}
.customer-setting > .dropdown-menu, .minicart-wrapper > .dropdown-menu {
  display: block;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.customer-setting.open > .dropdown-menu,
.minicart-wrapper.open > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  transform: translate(0, 0px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.block-minicart {
  background-color: #fff;
  width: 100%;
  width: 300px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 0px;
  border: none;
  padding: 15px 20px 15px 20px;
  border-radius: 0;
}
.customer-setting .dropdown-menu {
  background-color: #fff;
  width: 100%;
  width: 260px;
  max-width: 260px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 10px 0px;
  border: none;
  padding: 28px 20px 10px 30px;
  border-radius: 0;
}
.customer-setting {
  height: 56px;
  line-height: 56px;
}
.customer-setting a {
  font-size: 16px;
  color: #cd3591;
  font-weight: bold;
}

/* Menu */
.navbar-custom {
  position: relative;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  min-height: 37px;
  background: #cd3591;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
#header .menu {
  position: relative;
}
.menu .navbar-nav>li>a {
  border-right: none;
  color: #fff;
  text-transform: uppercase;
  padding: 11px 15px 10px 0;
  background: transparent;
}
.menu .navbar-nav .submenu {
  min-width: 200px;
  min-height: 200px;
  padding: 15px 110px 50px 15px;
  position: absolute;
  top: 100%;
  z-index: 100;
  border-radius: 0 0 5px 5px;
  border: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
  transform: translate(0, 10px);
}
.menu .navbar-nav li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  transform: translate(0, 0px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu .navbar-nav .submenu > li {
  display: block;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 10px;
  padding: 2px 0;
}
.menu .navbar-nav .submenu li a {
  color: #465363;
  font-size: 12px;
}
.navbar-custom .navbar-nav>li>a:focus, .navbar-custom .navbar-nav>li>a:hover {
  color: #fff;
}
.submenu_boy.submenu-bacground {
  background: url(../images/menu/boy.png) no-repeat 141px bottom #fff;
}
.submenu_girl.submenu-bacground {
  background: url(../images/menu/girl.png) no-repeat 96px bottom #fff;
}
.submenu_baby.submenu-bacground {
  background: url(../images/menu/baby.png) no-repeat 135px bottom #fff;
}
.submenu_accessories.submenu-bacground {
  background: url(../images/menu/accessories.png) no-repeat right 205px #fff;
}

/* Menu Col */
.submenu .submenu-col {
  margin: 0px 10px 0px 0px;
  display: inline-block !important;
  vertical-align: top;
  min-width: 200px;
}
.submenu .submenu-col:last-child {
  margin-right: 1px; 
}

/*===== Back To Top =====*/
.td-scroll-up {
  cursor: pointer;
  position: fixed;
  bottom: 4px;
  right: 5px;
  width: 40px;
  height: 40px;
  background-color: #252525;
  z-index: 1;
  transform: translate3d(0, 70px, 0);
  -webkit-transform: translate3d(0, 70px, 0);
  -moz-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  -o-transform: translate3d(0, 70px, 0);
  -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.td-scroll-up-visible {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.td-scroll-up i {
  position: relative;
  color: #fff;
  font-size: 20px;
  display: block;
  text-align: center;
  width: 40px;
  top: 7px;
}
.td-scroll-up:hover {
  color: #fff;
  background: #707070;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}