@charset "utf-8";
/* CSS Document */

/*==========*/
/*  
  [Let press Ctrl + f and type of paste the key, then press Enter to search the content ] Title
  Example : You want Import Files => Title is Import Files, or Fonts => Title is Fonts

  
  
/*==========*/

/*===== Import Files =====*/
/* Fonts */
/*@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext,vietnamese';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900&subset=latin-ext');*/
/*  Css */
@import url(../lib/bootstrap/bootstrap.min.css);
@import url(../lib/font-awesome/font-awesome.min.css);
/* @import url(lightbox.min.css); */
@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial/Arial.eot');
  src: local('Arial'), url('../fonts/arial/Arial.woff') format('woff'), url('../fonts/arial/Arial.ttf') format('truetype');
}

/*===== Layout Style =====*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcfcfc;
  color: #465363;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}
a { color: #252525; cursor: pointer; }
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.25s;
}
p { margin: 0; }
select:focus, button:focus, input:focus { outline: none; }
.btn.focus, .btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
  outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  padding: 8px 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper {
  position: relative;
}
.clearfix { clear: both; }
.container {
  padding-left: 0;
  padding-right: 0;
}

/*===== Header =====*/
.block-nav-mobile {
  display: none;
}


/*===== Back To Top =====*/
.td-scroll-up {
  cursor: pointer;
  position: fixed;
  bottom: 4px;
  right: 5px;
  width: 40px;
  height: 40px;
  background-color: #252525;
  z-index: 1;
  transform: translate3d(0, 70px, 0);
  -webkit-transform: translate3d(0, 70px, 0);
  -moz-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  -o-transform: translate3d(0, 70px, 0);
  -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.td-scroll-up-visible {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.td-scroll-up i {
  position: relative;
  color: #fff;
  font-size: 20px;
  display: block;
  text-align: center;
  width: 40px;
  top: 7px;
}
.td-scroll-up:hover {
  color: #fff;
  background: #707070;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}